




.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
}
        
        
        

.hero{
    display: flex;
}

img{
    width: 80%;
    border-radius: 50px;
    margin: 20px 0px 0px 150px;
}

.agent-text{
    font-size: 80px;
    width: 60%;
    padding: 35px 0px 0px 150px;
}

.agent-color{
    color:#00ffff ;
    margin: 50px 0px 0px 65px;
}

.agent-para{
    width: 77%;
    font-size: 20px;
    margin: 10px 0px 0px 65px;
}

.agent-button{
    background: #00ffff;
    color: #fff;
    padding: 20px 90px 20px 90px;
    margin: 130px 0px 0px 100px;
    font-size: 30px;
    border-radius: 50px;
}

.agent-radiant{
    margin: 65px 0px 0px 65px
}

.agent-dire{
    margin: 15px 0px 0px 65px;
}
.agent-predict{
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.agent-sub-text{
    text-align: center;
    font-size: 50px;
    margin: 25px 0px 0px 0px;
}

.agent-para-two{
    color: #00ffff;
    text-align: center;
    font-size: 20px;
    margin: 10px 0px 100px 0px;
}